<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobo.funplay.gamebox">

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/home_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/home_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.GameCategoryListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GamePreviewActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor" />
        <!--android:configChanges="orientation|screenSize"
        使Activity横竖屏切换时不重新加载生命周期跟重绘界面-->
        <activity
            android:name=".activity.MyCollectionActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AboutUsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity android:name="com.facebook.FacebookActivity" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider583965658933691"
            android:exported="true" />
        <receiver
            android:name=".push.LocalPushReceiver"
            android:enabled="true"
            android:exported="true">

            <!-- 注意此时有一个Priority属性 -->
            <intent-filter android:priority="100">
                <action android:name="ACTION_LOCAL_PUSH_BROADCAST" />
                <action android:name="NOTIFICATION_BROADCAST_ACTION" />
            </intent-filter>
        </receiver>

    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />


</manifest>